body{
    max-width: 1024px;
        margin: 0 auto;
}

header img{

    max-width: 100%;
}
.menu ul{   
    
    list-style:inherit ;
    margin-top: 50px;
    padding: 10mm;
    text-align: center;
    margin-bottom: 200px;
    background-color: brown;
    
}
.menu li{
    display: inline;
    
    
}
.menu li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    border: solid;
    border-color: white;
    background-color: white;

}

.lista li{
    display: inline;
    color: black;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    border: solid;
    border-color: black;
    background-color: rgb(11, 185, 238);

}

h1 {
    margin: 0 auto;
    color: rgb(168, 18, 18);
    font-family: ' sans-serif';
    text-align: center;
    
}

h2{
    margin: 0 auto;
    color: rgb(245, 220, 235);
    border-bottom: 5px solid rgb(245, 220, 235);
    font-style: unset;
}
h3{
    margin: 0 auto;
    color: rgb(0, 0, 0);
    border-bottom: 5px solid rgb(0, 0, 0);
}
h4{
    margin: 0 auto;
    color: coral;
    border-bottom: 5px solid coral;
    font-style: oblique;
}
h5{
    
   font-weight: 100;
   font-size: 10mm;
   margin-top: 0mm;
}


main img{
    width: 200px;
}
 table{

    border-collapse: collapse;
    margin-left: 0%;
    margin-right: 5%;
    background-color: brown;
    color: white;
    text-align: center;
    
}
th,td{
    border-style: solid;
    border-radius: 5px;
}
.rol{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
